@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@400;600&family=Russo+One&display=swap');
#first-form{
    margin-top: 5px;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    border: 1px solid black;
    #header-title {
        display: flex;
        height: 40%;
       width: 100%;
       div {
           height: 100%;
       }
       #full-name-title {
           min-height: 4em;
       }
       #title-curriculum {
           display: flex;
       }
        #personal-information-1{
            margin-top: 50px;
            div {
                margin-top: 2px;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        #img {
            display: flex;
            justify-content: center;
            height: 20em;
        }
        img {
            border:1px solid black;
            width: 60%;
            height: 100%;
        }
    }
    #experience,#education{
        display: flex;
        #date {
            height: 100%;
        }
        p{
            font-weight: bold;
            font-size: 17px;
        }
    }
    
}