@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@400;600&family=Russo+One&display=swap");
#first-form {
  font-family: 'Lato', sans-serif;
  border: 1px solid black;
}

#first-form #header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  width: 100%;
}

#first-form #header-title #title-curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-form #header-title #personal-information-1 {
  margin-top: 50px;
}

#first-form #header-title #personal-information-1 div {
  margin-top: 2px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#first-form #header-title #img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#first-form #header-title img {
  border: 1px solid black;
  width: 60%;
  height: 100%;
}

#first-form #experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-form #experience #date {
  height: 100%;
}

#first-form #experience p {
  font-weight: bold;
  font-size: 17px;
}

html, body, #root, #app {
  height: 100vh;
  width: 100%;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#app #header-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  text-align: center;
}

#app #main-content {
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#app #main-content #container-curriculum .tab-content {
  height: 90%;
  width: 100%;
}

#app #main-content #container-curriculum .tab-content .active {
  overflow: auto;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#app #main-content #container-curriculum .tab-content .active #first-form {
  height: 100vh;
  width: 97%;
  margin-top: 5px;
}

#app #main-content #container-form {
  border-radius: 5px;
}

#app #main-content #container-form .tab-content {
  height: 75%;
  width: 100%;
}

#app #main-content #container-form .tab-content .active {
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 95%;
}

#app #main-content #container-form .tab-content .active div {
  margin-top: 30px;
  width: 100%;
}

#app #main-content #container-form .tab-content .active div input {
  width: 100;
}

#app #main-content #container-form .tab-content form {
  width: 100%;
}

#app #main-content #container-form #buttons-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 15%;
  border: 1px solid #dee2e6;
}

#app #main-content #container-form #buttons-form button {
  width: 80%;
  margin: 5px;
  margin-top: 10px;
}

#app #main-content div {
  width: 48%;
}

#app #footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app #footer p {
  margin-bottom: 1px;
}

#app #footer svg {
  margin: 5px;
}

.border-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding: 15px;
}
/*# sourceMappingURL=main.css.map */